/* Grid */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  list-style: none;
  padding: 0;
}

/* Grid Item */
.gridItem {
  padding: 72px 32px 32px;
  border-radius: 8px;
  border: 1px solid #f7f5f2;
  text-align: center;
  font-weight: bold;
  transition: box-shadow .3s;
  background-color: #fff;

  position: relative;
  min-height: 600px;
  height: 100%;

  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    .itemDragBtn,
    .itemDeleteBtn {
      display: flex;
    }
  }
}

.gridItem.dragging {
  filter: blur(2px);
  border: 3px dashed #f7f5f2;
  background-image: repeating-linear-gradient(
      45deg,
      rgba(247, 245, 242, 0.4),
      rgba(247, 245, 242, 0.4) 12px,
      rgba(255, 255, 255, 0.4) 12px,
      rgba(255, 255, 255, 0.4) 24px
  );

  .itemDragBtn,
  .itemDeleteBtn {
    display: none;
  }
}

.gridItem:has(.emptyWidget) {
  border: 3px dashed #f7f5f2;

  .itemDragBtn,
  .itemDeleteBtn {
    display: none;
  }
}

.gridItem.overlay {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);

  .itemDeleteBtn {
    display: none;
  }
}

.itemDragBtn,
.itemDeleteBtn {
  padding: 8px;
  border: none;
  align-items: center;
  background: none;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  border-radius: 8px;
  height: 42px;
  transition: background-color .3s ease;
  display: none;
  opacity: 0.5;

  svg {
    width: 24px;
    height: 24px;
  }

  &:hover {
    background-color: #f7f5f2;
    opacity: 1;
  }
}

.itemDragBtn {
  left: 16px;
  right: initial;

  &:hover {
    cursor: grab;
  }
}